section.trips {
  background: #F8F8F8;
  padding-top: 5em;
  position: relative;


  h5 {

    color: green;
    font-size: 1.1em;
  }
  #add-trip-link {

    height: 4em;
  }
  .accordion {

    max-height: 0;
    transition: max-height .5s ease-in-out;
    overflow: hidden;
  }
  .title {
    margin: 0.5em 0;
    color: #ddd;
  }
  .d-card {

     background: white;
    border-top: .5em solid gray;
    border-radius: 6px 6px 0 0;
    margin-top: 2em;

    .tab-content {

      .value{

        color: #bbb;
      }

      li > div > img {

        height: 1em;
      }

      .form-check {

        margin: 0 1em;
        color: #ddd;
      }
      .form-switch {

        padding-left: 1.5em;
      }
      .icon {
        position: relative;
        background: inherit;
        border-radius: 50%;
        padding: 0.1em;
        height: 2em;
        width: 2em;
        z-index: 20;
  

        &:hover {
          background: #efefef;
          border-radius: 50%;
          padding: 0.1em;
          height: 2em;
          width: 2em;
        }

        img {
          height: 1.5em;
          position: absolute;
          top: 0.25em;
          left: 0.25em;
          z-index: 25;
        }
      }
    }

   &:hover {
      .settings-d {
        display: flex!important;
      }
    }
  }
  .trip-card {

    margin: 2em 0;
    background: inherit;
    position: relative;
    box-shadow: 0 1px 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);

   
    &::after { 

        content: '\002B';
  color: greenyellow;
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
  right: 1.5em;
  top: 50%; //https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol
  transform: translateY(-50%); //https://www.w3schools.com/css/css_align.asp  center element using position and transform

    }

    &.active:after {  //https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol
  content: "\2212";
  color: red;
}

    .settings {
    position: absolute;
    top: 0;
    right: 2em;
    z-index: 15;
    
      & > div {
        position: relative;
        background: inherit;
        border-radius: 50%;
        padding: 0.1em;
        height: 2em;
        width: 2em;
        z-index: 20;
  

        &:hover {
          background: white;
          border-radius: 50%;
          padding: 0.1em;
          height: 2em;
          width: 2em;
        }

        img {
          height: 1.5em;
          position: absolute;
          top: 0.25em;
          left: 0.25em;
          z-index: 25;
        }
      }
    }
    &:hover {
      background: #efefef;
      .settings {
        display: flex !important;
      }

    }
   
  }
  .trip-card,
  .d-card {
    position: relative;
   
     &.bg-green {

    background: greenyellow;
  }
    .settings-d {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 15;
      & > div {
        position: relative;
        background: white;
        border-radius: 50%;
        padding: 0.1em;
        height: 2em;
        width: 2em;
        z-index: 20;
        &:hover {
          background: #eee;
          border-radius: 50%;
          padding: 0.1em;
          height: 2em;
          width: 2em;
        }
        img {
          height: 1.5em;
          position: absolute;
          top: 0.25em;
          left: 0.25em;
          z-index: 25;
        }
      }


    }
    

    

    .tabs {
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);

      .tab {
        padding: 0.5em;
        font-weight: 300;
        &.active {
          background: #efefef;
        }
      }
    }
    .trip-card-header,
    .d-card-header,
    .trip-card-body {
      margin: 0.2em;
      padding: 0.2em;
      p {
        margin: 0;
        .entry-name {
          width: 5.5em;
          text-align: left;
          color: #d3d3d3;

          padding: 0.2em;
          display: inline-block;
        }

        .entry-details {
          flex-grow: 2;

          color: #bbb;
          font-weight: 300;
          padding: 0;
          margin: 0;

          img {
            height: 1em;
          }
        }
      }
    }
    .d-card-body {
      margin: 0.2em;
      padding: 0.2em;
      p {
        margin: 0;
        padding: 0 .2em;
        .entry-name {
         width: max-content;
    text-align: left;
    color: #d3d3d3;
    padding: 0 .2em;
    display: inline-block;
    color:#55f;
    border-left: 4px solid #F8F8F8;
        }

        .entry-details {
          flex-grow: 2;

          color: #bbb;
          font-weight: 300;
          padding: 0;
          margin: 0;

          img {
            height: 1em;
          }
        }
      }
    }
    .trip-card-body,
    .d-card-body {
      .entries {
        .entry {
          .entry-body {
            .forecast-vals {
              background: aliceblue;
              height: 7em;
              padding: 0 0.1em;
              background: aliceblue;

              .entry-title {
                color: darkblue;
                border-bottom: 1px solid rgba(0, 0, 100, 0.05);
              }

              p {
                margin: 0;
                display: flex;

                .entry-name {
                  width: 5.5em;

                  text-align: right;
                  color: lightgrey;
                  padding: 0;
                  margin: 0;
                }

                .entry-details {
                  flex-grow: 2;

                  color: #bbb;
                  font-weight: 300;
                  padding: 0;
                  margin: 0;

                  img {
                    height: 1em;
                  }
                }
              }
            }

            .forecast-icon {
              img {
                position: relative;
                top: -13px;
              }
              .desc {
                position: relative;
                top: -30px;
                left: 20px;
                color: #ddd;
              }
            }
          }
        }
      }
    }

    
    
  }


}
