{% extends "./layout.html.twig" %}
{% block head  %}
{{parent()}}




</script>
  
<title>Capstone trip travel app home page</title>

{% endblock %}}


{% block body %}

   {{parent()}}
        <section>
       
            <div class="search-bar">
              <form action="" method="post">
                     
                   <div class="inputs-container d-flex justify-content-center flex-wrap">
                     <div class="input d-flex flex-column col col-12 col-md-3">
                       <label for="destination">Where?</label>
                       <input type="text" name="" id="destination" placeholder="DESTINATION" required>
                      </div>
                     <div class="input d-flex flex-column col col-12 col-md-3">
                       <label for="start-date">Trip start</label>
                       <input type="text" name="" id="start-date" placeholder="MM/DD/YYYY" required>
                      </div>
                     <div class="input d-flex flex-column col col-12 col-md-3">
                       <label for="end-date">Trip end</label>
                       <input type="text" name="" id="end-date" placeholder="MM/DD/YYYY" required>
                      </div>
                     <div class="input col col-12 col-md-3"><button id="search-button"><img src="media/magnifier.svg" alt="search"></button></div>
                   </div>
              </form>
            </div>
           
            <article class="background-clipped">
              

                <div class="container">
                  <div class=" d-flex flex-wrap justify-content-center align-items-center">
                    
                  <div class="heading col col-12 col-md-6 d-flex flex-column">
                    <div class="sub-heading">Captrip a large panel of choices</div>
                    <h1>Travel abroad and Turn the page</h1>
                    <p>Many use our app to book their flights, book yours today and  make savings for others valuable things</p>

                    <a class="button">Book a trip now!</a>
                  </div>

                   <div class="col col-12 col-md-6">
                     <img src="media/family-vacation.png" alt="">
                   </div>
                  </div>
                  
                </div>
  
            

            </article>

            <article>
                              <div class="container">
                                <form  id="sign" method="post" accept-charset="UTF-8">
                                  <div class="d-flex justify-content-center align-items-center">
                                    <div class="signin active">Sign in</div>
                                    <div class="signup">Sign up</div>
                                  </div>
                                  <div id="signup-with-email" class="d-none">

                                     <div class="form-header">Email sign up</div>
                                     <div class="d-flex flex-column justify-content-center align-items-center">
                                  
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                  <input type="hidden" name="action" value="users/save-user">
                  
                              
                                  <label for="username" class="text-left">Username</label>
                                  <input id="username" type="text" name="username">
                              
                                  <label for="email">Email</label>
                                  <input id="email" type="email" name="email">
                                  <div id="errEmail" class="d-none">&times; Enter well formatted email, could contain _- maj, min chars</div>
                              
               
                              
                                  <label for="password">Password</label>
                                  <input id="password" type="password" name="password">
                                  <div id="errPwd" class="d-none" class="d-none"></div>
                                  <div id="strongPwd" class="d-none">&#x2713; Great Password. Confirm it below!</div>
                                  
                                  <label for="confirm">Confirm Password</label>
                                  <input id="confirm" type="password" name="confirm">
                                  <div id="errConf" class="d-none">&times; Passwords don't match!</div>
                                  <div>
                                      <input type="submit" value="Register" id="register-sub"> <input type="reset" value="wipe away">
                                  </div>
                                 
                                </div>

                                 
                              </div>
                                  </div>

                                    <div id="signin-with-email" class="d-block">
                                        <div class="form-header">Email sign in</div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                 
                                  <label for="emailin">Email</label>
                                  <input id="emailin" type="text" name="email">

                                  <div id="errEmailIn" class="d-none">Email format error! use minus/maj ._-</div>
                              
               
                              
                                  <label for="passwordin">Password</label>
                                  <input id="passwordin" type="password" name="password">
                                  <div>
                                       <input type="submit" value="Sign in" id="signin-sub"> <input type="reset" value="wipe away">
                                   </div>
                              </div>

                                    </div>
                                
                                    <hr>

                              <div class="signin-with-google" class="d-none active">

                                    <div class="form-header">Google Sign in/up</div>
                                    <hr>
                                    <div class="d-flex justify-content-center">
                                      <div class="g-signin2" data-onsuccess="onSignIn"></div>
                                      
                                    </div>
                                

                              </div>
                              </form>
         
                          
                           </div>
            </article>
        </section>
        
{% endblock %}