{% extends "./layout.html.twig" %}
{% block head  %}
{{parent()}}

  
<title>Capstone trip travel app home page</title>

{% endblock %}}


{% block body %}

   {{parent()}}
        <section>
           <div class="form-error d-none"></div>
           <div class="form-success d-none"> trip added successfully!</div>
            <div class="search-bar">
              <form action="" method="post" id="index-form">
                     
                   <div class="inputs-container d-flex justify-content-center flex-wrap">
                     <div class="input d-flex flex-column col col-12 col-md-3">
                       <label for="destination">Where?</label>
                       <input  type="text" name="" id="destination" placeholder="DESTINATION" class="autocomplete" required>
                       <div class="details"></div>
                      </div>
                     <div class="input d-flex flex-column col col-12 col-md-3">
                       <label for="start-date">Trip start</label>
                       <input type="text" name="" id="start-date" placeholder="MM/DD/YYYY" required>
                      </div>
                     <div class="input d-flex flex-column col col-12 col-md-3">
                       <label for="end-date">Trip end</label>
                       <input type="text" name="" id="end-date" placeholder="MM/DD/YYYY" required>
                      </div>
                     <div class="input col col-12 col-md-3"><button id="search-button"><img src="media/magnifier.svg" alt="search"></button></div>
                   </div>
                   <div class="d-none overlay">
                     <img src="media/pulse-loader.gif" alt="">
                   </div>
              </form>
            </div>
           
            <article class="background-clipped">
              

                <div class="container">
                  <div class=" d-flex flex-wrap justify-content-center align-items-center">
                    
                  <div class="heading col col-12 col-md-6 d-flex flex-column">
                    <div class="bg-white">
                    <div class="sub-heading">Captrip a large panel of choices</div>
                    <h1>Travel abroad and Turn the page</h1>
                    <p>Many use our app to book their trips, book yours today and  make savings for others valuable things</p>
                   </div>
                   <div class="bg-white text-center">
                      <a href="#sign" class="button">Create folder now!</a>
                   </div>
                   
                  </div>

                   <div class="col col-12 col-md-6">
                     <img src="media/page-curl.svg" alt="">
                   </div>
                  </div>
                  
                </div>
  
            

            </article>

            <article>
                              <div class="container">
                                <form  id="sign" method="post" accept-charset="UTF-8">
                                  <div class="d-flex justify-content-center align-items-center">
                                    <div class="signin tab active" data-tab-id="signin-with-email">Sign in</div>
                                    <div class="signup tab" data-tab-id="signup-with-email">Sign up</div>
                                  </div>
                                  <div id="signup-with-email" class="d-none tab-content">

                                     <div class="form-header">Email sign up</div>
                                     <div class="d-flex flex-column justify-content-center align-items-center">
                                  
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                  
                  
                              <div class="in-container">
                                  <label for="username" class="text-left">Username</label>
                                  <input id="username" type="text" name="username" placeholder="username here">
                              </div>

                              
                                 <div class="in-container">
                                                 <label for="email">Email</label>
                                  <input id="email" type="email" name="email" placeholder="@email here">
                                 </div>
                                  <div id="errEmail" class="d-none">&times; Enter well formatted email, could contain _- maj, min chars</div>
                              
                                  <div class="in-container">
                                                                  
                                  <label for="password">Password</label>
                                  <input id="password" type="password" name="password" placeholder="password here">
                                  </div>

                                  <div id="errPwd" class="d-none" class="d-none"></div>
                                  <div id="strongPwd" class="d-none">&#x274C; Great Password. Confirm it below!</div>
                                  
                                  <div class="in-container">
                                                                      <label for="confirm">Confirm Password</label>
                                  <input id="confirm" type="password" name="confirm" placeholder="confirm password">
                                  </div>
                                  <div id="errConf" class="d-none">&times; Passwords don't match!</div>
                                  <div>
                                      <input type="submit" value="Register" id="register-sub"> <input type="reset" value="wipe away">
                                  </div>
                                 
                                </div>

                                 
                              </div>
                            </div>

                                    <div id="signin-with-email" class="d-block tab-content" >
                                        <div class="form-header">Email sign in</div>
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                 <div class="in-container">
                                                                      <label for="emailin">Email</label>
                                  <input id="emailin" type="email" name="email" placeholder="Type in @email or username">
                                 </div>


                                  <div id="errEmailIn" class="d-none">Email format error! use minus/maj ._-</div>
                              
               
                              <div class="in-container">
                                         <label for="passwordin">Password</label>
                                  <input id="passwordin" type="password" name="password" placeholder="password here">
                              </div>
                           
                                  <div>
                                       <input type="submit" value="Sign in" id="signin-sub"> <input type="reset" value="wipe away">
                                   </div>
                              </div>

                                    </div>
                                
                                    <hr>

                              <div class="signin-with-google" class="d-none active">

                                    <div class="form-header">Google Sign in/up</div>
                                    <hr>
                                    <div class="d-flex justify-content-center">
                                      <div class="g-signin2" data-onsuccess="onSignIn"></div>
                                      
                                    </div>
                                

                              </div>
                              </form>
         
                          
                           </div>
            </article>
        </section>
        
{% endblock %}