{# templates/layout.twig #}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8">
    {{ base }}
    <link rel="icon" href="media/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
    {{css}}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <header>
      <nav class="d-flex container justify-content-between align-items-center">
        <div class="logo">
          <a href="/">
            <img src="media/captrip-logo.svg" alt="capstone travel app logo" class="logo">
          </a>
        </div>
        <div class="d-flex justify-content-between align-items-center menu">
          <div class="item">
            <a href="">My trips
            </a>
          </div>
          <div class="item">
            <a href=""> profile 
            </a>
          </div>
          <div class="text-center">
            <a id="search-link">
              <img src="media/sign-up.svg" alt="sign up and in" title="sign in/up">
            </a>
          </div>
        </div>
      </nav>
    </header>
    {% endblock %}
    <footer class="d-flex justify-content-center align-items-center bg-dark">
      <p class="text-warning"> Captrip: Capstone travel project &copy; 2021
      </p>
    </footer>
           {{js}}
            <script>
            // Check that service workers are supported, udacity code
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
  </body>
</html>
